@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text font-sans antialiased;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(var(--rotation-start, 0deg));
  }
  100% {
    transform: translateY(110vh) rotate(var(--rotation-end, 360deg));
  }
}

.falling-paper {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}